In [1]:
import numpy as np
import random 
import math
import pandas as pd 
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score

In [2]:
data = pd.read_csv('time_series_covid_19_confirmed.csv')
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/19/20,6/20/20,6/21/20,6/22/20,6/23/20,6/24/20,6/25/20,6/26/20,6/27/20,6/28/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,27878,28424,28833,29157,29481,29640,30175,30451,30616,30967
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,1838,1891,1962,1995,2047,2114,2192,2269,2330,2402
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,11504,11631,11771,11920,12076,12248,12445,12685,12968,13273
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,855,855,855,855,855,855,855,855,855,855
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,172,176,183,186,189,197,212,212,259,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,693,698,698,702,707,710,711,712,713,713
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,919,922,941,967,992,1015,1076,1089,1103,1118
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,210,247,247,247,265,265,272,272,272,272
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,5338,5399,5457,5513,5567,5630,5691,5747,5799,5849
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,4,4,4,12,17,17,17,24,24,27

In [4]:
data = data.drop(['Province/State'], axis = 1)
data

,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,...,6/19/20,6/20/20,6/21/20,6/22/20,6/23/20,6/24/20,6/25/20,6/26/20,6/27/20,6/28/20
0,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,0,...,27878,28424,28833,29157,29481,29640,30175,30451,30616,30967
1,Albania,41.153300,20.168300,0,0,0,0,0,0,0,...,1838,1891,1962,1995,2047,2114,2192,2269,2330,2402
2,Algeria,28.033900,1.659600,0,0,0,0,0,0,0,...,11504,11631,11771,11920,12076,12248,12445,12685,12968,13273
3,Andorra,42.506300,1.521800,0,0,0,0,0,0,0,...,855,855,855,855,855,855,855,855,855,855
4,Angola,-11.202700,17.873900,0,0,0,0,0,0,0,...,172,176,183,186,189,197,212,212,259,267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,0,...,693,698,698,702,707,710,711,712,713,713
262,Yemen,15.552727,48.516388,0,0,0,0,0,0,0,...,919,922,941,967,992,1015,1076,1089,1103,1118
263,Comoros,-11.645500,43.333300,0,0,0,0,0,0,0,...,210,247,247,247,265,265,272,272,272,272
264,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,0,...,5338,5399,5457,5513,5567,5630,5691,5747,5799,5849
265,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,0,...,4,4,4,12,17,17,17,24,24,27